.main-content {
  margin-left: 25vw;
  margin-right: 25vw;


  color: var(--off-white-purple);
}

.main-content > * {
  margin-bottom: 5vh;
}

.main-content > h2 {
  font-size: 30pt;
}

p {
  font-size: 18pt;
}
