:root {
  --background-dark-purple: #28004d;
  --main-purple: #7300e6;
  font-family: 'Open Sans', sans-serif;
}

/* Header fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: var(--background-dark-purple);
}

header {
  background-color: var(--main-purple);
}
