
/* Main Content styles */
.main-content {
  margin-left: 20vw;
  margin-right: 20vw;


  color: var(--off-white-purple);
}

.main-content > * {
  margin-bottom: 5vh;
}

.main-content > h2 {
  font-size: 30pt;
}

.main-content > h3 {
  font-size: 24pt;
}

.main-content > p {

}

.screenshot {
  max-height: 350px;
  float: left;
  margin-right: 4vw;
  box-shadow: 0px 0px 30px white;
}

.screenshot > * {
  max-height: inherit;
}
