
/* Main Content styles */
.main-content {
  margin-left: 20vw;
  margin-right: 20vw;


  color: var(--off-white-purple);
}

.main-content > * {
  margin-bottom: 5vh;
}

.main-content > h2 {
  font-size: 30pt;
}

.main-content > h3 {
  font-size: 24pt;
}

.main-content > p {

}

.screenshot {
  max-height: 450px;
  float: left;
  margin-right: 4vw;
}
