
/* Main Content styles */
.main-content {
  margin-top: 8vh;
  margin-left: 20vw;
  margin-right: 20vw;

  font-size: 16pt;

  color: var(--off-white-purple);
}

.main-content > * {
  margin-bottom: 5vh;
}

.main-content > h1 {
  font-size: 36pt;
}

.main-content > h2 {
  font-size: 30pt;
}

.main-content > h3 {
  font-size: 24pt;
}

.main-content > p {

}

.screenshot {
  max-height: 350px;
  float: left;
}

.screenshot-left {
  float: left;
  margin-right: 4vw;
}

.screenshot-right {
  float: right;
  margin-left: 4vw;
}

.screenshot > * {
  max-height: inherit;
  border-radius: 3%;
  box-shadow: 0px 0px 30px 11px white;
}
